
	$primary-color:#3e3e5e;
	$primary-color-dark:#2e2e4f;
	$primary-color-light:#5d5d8a;
	$primary-color-active:#363656;
	$sent-message-bg-color:#89a1fc;
	$secondary-color:#484d79;
	$main-text-color:#cac8ee;
	$messages-bg:#dcddf5;
	$received-message-bg-color:#fff;
	$sent-message-color:#fff;
	$received-message-color:#b3b2ca;
	$success-color:#60d66a;
	$main-padding-vertical:18px;
	$main-padding-horizontal:16px;
	$main-padding: $main-padding-vertical $main-padding-horizontal;
	$error-text: #c92c43;
	$head-max-height:65px;
	$footer-max-height:65px;
	$footer-height:10vh;


@mixin customscrollbar(){
	&::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color:  $main-text-color;
		}
		&::-webkit-scrollbar{
			width: 5px;
			background-color: green;
		}
		&::-webkit-scrollbar-thumb{
			background-color:  $secondary-color;
		}
}

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}

input, textarea{
	font-family: Arial;
}

.login{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form{
  $height: 5vw;
	display: flex;
	justify-content: center;
  flex-direction: column;
  h2{
    font-size: $height;
  }
	input{
		max-width: 100%;
		border-top: none;
		border-left: none;
		border-right: none;
		height: $height;
		line-height: $height;
		font-size: $height;
		border-bottom:solid 2px  $received-message-color;
		transition:all .23s ease-in;
		&:focus{
			$height:30px;
			border-bottom:solid 2px  $primary-color-light;
			outline: none;
		}
  }
	.error{
		text-align: center;
		margin: 5px 0;
		padding: 5px 10px;
		color: $error-text;
	}
}
@mixin dot-indicator($size, $color){

	.indicator{
		width: $size;
		height: $size;
		border-radius: $size;
		background: $color;
		display: inline-block;
		margin-right: 8px;
	}

}
.container{

	color: $main-text-color;
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	height:100%;
	width: 100%;
}

#side-bar{
	box-sizing: border-box;
	width:33.75%;
	height: 100%;
	display: grid;
	justify-content: stretch;
	grid-template-rows: 8vh 5vh 5vh 1fr 8vh;
	
	.heading{
		box-sizing: border-box;
		padding: $main-padding;
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content:space-between;
		background: $primary-color-dark;
	}
	.side-bar-select{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.side-bar-select__option{
		background: $secondary-color;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&.active{
			background: $primary-color-active;
		}
	}
	
	.search{
		background: $primary-color;
	    box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-width: 1px 0;
		border-style: solid;
		border-color: black;
		padding-left: 15px;
		padding-right: 20px;
		
		.search-icon{
			margin-right: 15px;
			cursor: pointer;
		}
		

		input{
			width: 100%;
			background: $primary-color;
			flex-grow: 1;
			box-sizing:border-box;
			border:none;
			color: $main-text-color;				
			&:focus{
				outline:none;		
			}
			&::placeholder{
				color: $main-text-color;
				opacity: .6;
			}											
		}
		
		.plus{
			$plus-width:2px;
			$plus-length:16px;
			display: inline-block;
			position: relative;
			cursor:pointer;
			width:13px;
			height:13px;
			
			&::after, &::before{
				content:'';
				position: absolute;
				background:  $received-message-color;

			}
			&::after{
				width: $plus-length;
				height: $plus-width;
				top:5px;
			}
			&::before{
				width: $plus-width;
				height: $plus-length;
				top:-2px;
				left:7px;
			}
		}
	}
	
	.users{
		@include customscrollbar();
		
		overflow-y: scroll;
		background:  $primary-color;
		flex-grow:1;
		
		.user{
			$indicator-size:16px;
			$indicator-color: $success-color ;
	
			align-items: center;
			display: flex;
			height:66px;
			justify-content: flex-start;
			padding:  $main-padding;
			
			&.active, &:hover{
				background: $primary-color-dark;
			}
			
			&:hover:not(.active){
				cursor: pointer;
			}
			
			.user-photo{

			}
			
			.user-info{
				margin-left: 15px;
				flex-grow: 1;
				width: 100%;

				.last-message{
					font-size: 12px;
					opacity: .56;
				}
			}
			
			.new-message{
				height:100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		
	}
	
	.current-user{
		align-items: center;
		background: $secondary-color;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left:  $main-padding-horizontal;
		padding-right:  $main-padding-horizontal;
		
		.logout{
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			
			font-size: 2em;
		}
	}
}

.chat-header{
	background: $primary-color-light;
	
	box-shadow: 0px 6px 5px -2px rgba(225,225,225, .7);
	box-sizing: border-box;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 18px 16px;
	
	.user-info{
		align-items:center;
		display: flex;
		
		.user-name{
			margin-right: 10px;
		}
		
		.status{
			$indicator-size:8px;
			align-items:center;
			display: flex;
			.online{
				$indicator-color:#32b0bb;
			}
			.offline{
				$indicator-color:#C63D2C
			}
			
		}
	}
	
	.options{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;
		svg{
			cursor: pointer;
		}
		height:100%;
		width:15%;
	}

}

.chat-room-container{
	height: 100%;
	width: 76.25%;
}
@media screen and (max-width: 510px){
	#side-bar{
		position:absolute;
		left:-100%;
	}
	.chat-room-container{
		width: 100%;
	}
}
.chat-room{
	display: grid;
	grid-template: 8vh 1fr 8vh / 100%;
	height: 100%;
	width: 100%;

	&.choose{
		align-items: center;
		justify-content: center;
		font-size: 2em;
	}	
}

.thread-container{
		display: grid;
		flex-grow:1;
		@include customscrollbar();
		overflow-y: scroll;
		position: relative;

	.thread{
		position: relative;
		width: 100%;
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $received-message-color;
		background: $messages-bg;

		
	}
}

.message-container{
	display: flex;
	justify-content: flex-start;
	min-height: 50px;
	margin:10px 15px;
	$message-triangle-offset:-7px;
	
	animation: .65s ease-out 0s show;
	
	.time{
		order:1;
	
	}
	.data{
		order:2;
		height:100%;
		margin-left:25px;
		
	}
	.name{
		font-size: .65em;
		margin-top: 5px;
		text-align: right;
	}
	.message{
		background: $received-message-bg-color;
		border-radius: 5px;
		border-top-left-radius: 0;
		box-sizing: border-box;
		color: $received-message-color;			
		height:100%;
		padding: 10px 15px;
		position: relative;
	}
	
	@keyframes show{
		0%{
			opacity: 0
		}
		100%{
			opacity: 1;
		}
	
	}
	
	.message::before{
		$triangle-color: $received-message-bg-color;
		
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: $triangle-color;
		border-style:solid;
		border-top-color:  $triangle-color;
		border-width: 4px;
		
		content:'';
		
		height: 0;
		left: $message-triangle-offset;
		position: absolute;
		top:0;
		width: 0;

	}

	&.right{

		text-align: right;
		justify-content: flex-end;
		
		.time{
			order:2;
			margin-left: 25px;
		}
		.data{
			margin-left: 0;
			order:1;
		}
		.name{
			display: none;

		}
		.message{
			background: $sent-message-bg-color;
			color: $sent-message-color;
			border-top-right-radius: 0;
			border-top-left-radius: 5px;

		}
		
		.message::before{
			$triangle-color: $sent-message-bg-color;

			border-top-color:  $triangle-color;
			border-left-color:  $triangle-color;
			border-right-color: transparent;
			left:auto;
			right: $message-triangle-offset;
		}
	}
}

.typing-user{
	text-align: right;
	margin: 10px 15px;
}

.message-input{
	background:white;
	color: $secondary-color;
	box-sizing: border-box;
	
	.message-form{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		
		.form-control{
			@include customscrollbar();
			&:focus{
				outline:none;
			}
			resize:none;
			padding-left: 15px;
			box-sizing: border-box;
			width: 80%;
			height: 100%;
			border:none;
			font-size: 16px;
		}
		
		.send{
			width: 20%;
			box-sizing: border-box;
			font-size: 1.25em;
			text-align: center;
			border:none;
			height:100%;
			color: $sent-message-color;
			background: $primary-color;
			transition:all .35s ease-out;
			
			&:disabled{
			opacity: .2;
				background:  $primary-color-light;
			}
		}
	}
}